{% extends "baseWidgetEditor.html" %}
{% include "schemas:schemaMacros.html" %}

{% block widgetVars %}
  {% set widgetClass = 'apos-' + widget.css + '-editor apos-ui apos-schema-widget' %}
{% endblock %}

{% block title %}
  {{ widget.label | e }}
{% endblock %}

{% block instructions %}
  {{ widget.instructions | e }}
{% endblock %}

{% block formBody %}
  <div class="apos-schema-widget-tab-buttons">
    <a href="#" data-tab-button="edit" class="apos-schema-widget-tab-button">Edit</a>
    <a href="#" data-tab-button="preview" class="apos-schema-widget-tab-button">Preview</a>
  </div>
  <div class="apos-schema-widget-tab" data-tab="edit">
    <div data-fields>
      {{ schemaFields(widget.schema) }}
    </div>
  </div>
  <div class="apos-schema-widget-tab" data-tab="preview">
  </div>
{% endblock %}
